@use 'styles/mixins/breakpoints' as breakpoints;

.WorksPageContent {
    display: flex;
    flex-direction: column;
    background-color: var(--off-white);
    min-height: 85vh;

    .worksHero {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 4rem;
        align-items: center;
        justify-content: center;

        h1 {
            font-size: 2.5rem;
            text-align: center;
            font-weight: 500;
        }

        p {
            font-size: 1.5rem;
            font-weight: 400;

            a {
                color: var(--seagreen500);

                &:hover {
                    color: var(--skyblue400);
                }
            }
        }

        @media screen and (max-width: 575px) {
            padding: 2rem;
        }
    }

    .projectsDisplay {
        padding: 0;
        list-style: none;

        & > div {
            width: calc(var(--max-page-width) / 2 - 2rem);

            &:nth-of-type(odd) {
                float: left;
            }

            &:nth-of-type(even) {
                float: right;
                margin-top: 4rem;
            }

            img {
                object-fit: cover;
                max-height: 250px !important;
            }
        }

        @include breakpoints.set-max-width('small') {
            & > div {
                width: calc(100vw - 2rem);
                margin: 1rem auto;

                &:nth-of-type(odd) {
                    float: unset;
                }
                &:nth-of-type(even) {
                    float: unset;
                    margin-top: unset;
                }
            }
        }
    }
}
