@use 'styles/mixins/breakpoints' as breakpoints;

.WorksPageContent {
    display: flex;
    flex-direction: column;
    background-color: var(--off-white);

    .worksHero {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 4rem;
        align-items: center;
        justify-content: center;

        h1 {
            font-size: 2.5rem;
            text-align: center;
            font-weight: 500;
        }

        p {
            font-size: 1.5rem;
            font-weight: 400;

            a {
                color: var(--seagreen500);

                &:hover {
                    color: var(--skyblue400);
                }
            }
        }

        @media screen and (max-width: 575px) {
            padding: 2rem;
        }
    }

    .projectsDisplay {
        padding: 0;
        list-style: none;

        li {
            width: 48vw;
            padding: 0 1.5rem;
        }

        li:nth-of-type(odd) {
            float: left;
            padding-right: 0.25rem;
        }
        li:nth-of-type(even) {
            float: right;
            margin-top: 4rem;
            padding-left: 0.25rem;
        }

        .imgDisplay {
            padding-top: 55%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;
            position: relative;
        }

        @include breakpoints.set-max-width('small') {
            li:nth-of-type(odd) {
                float: unset;
                padding-right: 1rem;
            }
            li:nth-of-type(even) {
                float: unset;
                padding-left: 1rem;
                margin-top: unset;
            }

            li {
                width: calc(100vw - 2rem);
                padding: 1rem;
                margin: auto;
            }
        }
    }
}
