@import '../../../styles/mixins/textHover.scss';

.LandingPageContent {
    z-index: 3;
    display: grid;
    grid-template-rows: calc(100vh - var(--nav-height)) auto auto;

    .missionStatement {
        * {
            color: var(--off-white);
        }

        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50vw;
        margin: 1rem auto;
        margin-top: 5rem;
        gap: 4rem;

        em {
            font-weight: 700;
        }

        .landingImage {
            position: absolute;
            top: 0;
            height: 100vh;
            width: 100%;
            object-fit: cover;
            object-position: top center;
            z-index: 0;
            filter: grayscale(1) contrast(1) brightness(0.25);
        }

        h1 {
            font-size: 2.5rem;
            margin-bottom: 0;
            text-align: center;
            z-index: 1;
            line-height: 24px;

            span {
                font-size: 2.5rem;
                @include textHover;
                z-index: 1;
            }
        }

        span {
            font-size: 1.3rem;
            max-width: 32rem;
            z-index: 1;
        }

        button {
            height: 5rem;
            padding: 1rem;
            width: 16rem;
            border: none;
            border-radius: 5px;
            font-size: 1.3rem;
            cursor: pointer;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-name: glow;
            animation-direction: alternate;
            animation-timing-function: ease-in;
            background-color: var(--sienna600);
            color: var(--off-white);
            z-index: 1;

            transition: 0.5s;

            // flip hover
            margin: 50px;
            perspective: 1000;
            display: inline-block;

            &:hover {
                background-color: var(--skyblue400);
                z-index: 1;

                .flipContent {
                    transform: rotateY(180deg);
                }
            }

            .flipContent {
                z-index: 1;
                transition: 0.5s;
                transform-style: preserve-3d;
                position: relative;

                .front,
                .back {
                    backface-visibility: hidden;
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                }

                .front {
                    z-index: 1;
                    transform: rotateY(180deg);
                }

                .back {
                    z-index: 2;
                    transform: rotateY(0deg);
                }
            }
        }

        @keyframes glow {
            from {
                box-shadow: 0px 0px 4px 0px var(--slate500);
            }
            to {
                box-shadow: 0px 0px 12px 4px var(--slate500);
            }
        }

        a:hover {
            transition: 0.25s;
            color: var(--skyblue400);
        }

        @media screen and (max-width: 750px) {
            width: 75vw;
        }
    }

    .whyUsBlock {
        padding: 2.5rem 5rem 5rem 5rem;
        background-color: var(--off-white);
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        z-index: 1;

        h2 {
            text-align: center;
            margin-bottom: 0;
            font-size: 2rem;
            font-weight: 700;
        }

        .reasonsList {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 5rem;

            .reason {
                display: grid;
                grid-template-rows: 3rem 3rem 1fr;
                grid-gap: 1rem;
                align-items: flex-start;

                svg {
                    font-size: 3rem;
                    color: var(--skyblue400);
                    margin: auto;
                }

                .primary {
                    font-size: 1.75rem;
                    color: var(--off-black);
                    font-weight: 400;
                    text-align: center;
                }

                .secondary {
                    font-size: 1.15rem;
                    color: var(--slate600);
                    letter-spacing: -1px;
                }
            }

            @media screen and (max-width: 850px) {
                grid-template-columns: 1fr;
            }
        }
    }

    .meetTheTeamBlock {
        h1 {
            line-height: 24px;
            padding: 1rem;
            text-align: center;
            background-color: cadetblue;
            color: var(--off-white);
            font-weight: 600;
            font-size: 2rem;
            margin-bottom: 0;
        }
        .teamBlock {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            .devCard {
                padding: 1rem;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;

                * {
                    color: var(--off-white);
                }

                &:nth-of-type(1) {
                    background-color: var(--skyblue500);
                }
                &:nth-of-type(2) {
                    background-color: var(--seagreen600);
                }
                &:nth-of-type(3) {
                    background-color: var(--sienna500);
                }

                svg {
                    font-size: 12rem;
                }

                h2 {
                    margin-bottom: 0;
                    font-weight: 400;
                }

                .headshot {
                    background-color: grey;
                    background-position: top;
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 16rem;
                    width: 16rem;
                    border-radius: 50%;
                }

                .kevin {
                    background-position: bottom center;
                }

                .role {
                    font-size: 1.2rem;
                }

                .exp {
                    display: flex;
                    color: var(--slate400);
                    font-style: italic;
                    font-size: 1rem;
                    align-items: center;

                    svg {
                        font-size: 1rem;
                        color: var(--slate400);
                        font-style: italic;
                        font-size: 1rem;
                        margin-right: 0.5rem;
                    }
                }
            }

            @media screen and (max-width: 850px) {
                grid-template-columns: 1fr;
            }
        }
    }

    .ribbon {
        $default-right: 10px;
        $default-top: -3px;
        $default-width: 6rem;
        $default-height: 4.5rem;

        position: absolute;
        right: var(--right, $default-right);
        top: var(--top, $default-top);

        filter: drop-shadow(2px 3px 2px rgba(var(--off-black), 0.5));

        .ribbonContent {
            color: white;
            font-size: 1.25rem;
            text-align: center;
            font-weight: 400;
            background: crimson
                linear-gradient(
                    45deg,
                    rgba(black, 0) 0%,
                    rgba(white, 0.25) 100%
                );
            padding: 8px 2px 4px;

            clip-path: polygon(
                0 0,
                100% 0,
                100% calc(100% - 25px),
                50% 100%,
                0 calc(100% - 25px)
            );

            width: var(--width, $default-width);
            min-height: var(--height, $default-height);

            transition: clip-path 1s, padding 1s, background 1s;
        }
    }
}
