@use 'styles/mixins/card' as Card;

.ProjectOverviewContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: left;

    div {
        margin-top: 1rem;

        span {
            margin-right: 0.5rem;
            font-size: 1.5rem;
            display: flex;

            &:nth-of-type(2) {
                color: var(--seagreen400);
            }
        }
    }
}
