$gap: 2rem;
$clients-width: 22rem;

.Dashboard {
    display: grid;
    grid-template-areas: 'dashboardMain dashboardAside';
    grid-template-columns: calc(66% - 1rem) calc(33% - 1rem);
    grid-gap: $gap;

    .dashboardMain {
        display: flex;
        flex-direction: column;
        gap: $gap;
        width: calc(100vw - $clients-width - 4rem);

        .top {
            display: flex;
            gap: 2rem;
            width: 100%;

            & > :global(.MuiPaper-root) {
                width: 100%;
                flex: 1.5;
            }

            .personnelOverview {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: $gap;

                & > * {
                    flex: 1;
                }
            }
        }
    }

    .clientsOverview {
        border: 2px solid var(--less-black);
        background-color: var(--off-black);
        border-radius: 9px;
        padding: 1rem;
        overflow: auto;
        position: fixed;
        top: calc(var(--nav-height) + 0.7rem + 1px);
        right: 1.5rem;
        width: $clients-width;
        height: calc(100vh - var(--nav-height) - 5.5rem - 4px);

        h1 {
            color: var(--off-white);
            margin-bottom: 1rem;
        }
    }
}
