@use 'styles/mixins/breakpoints' as breakpoints;

.WorksPageContent {
    display: flex;
    flex-direction: column;
    background-color: var(--off-white);
    height: 100%;

    .worksHero {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 4rem;
        align-items: center;
        justify-content: center;

        h1 {
            font-size: 2.5rem;
            text-align: center;
            font-weight: 500;
        }

        p {
            font-size: 1.5rem;
            font-weight: 400;

            a {
                color: var(--seagreen500);

                &:hover {
                    color: var(--skyblue400);
                }
            }
        }

        @media screen and (max-width: 575px) {
            padding: 2rem;
        }
    }

    .projectsDisplay {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
        grid-auto-flow: dense;
        grid-gap: 1rem;
    }
}
