@use 'styles/mixins/card' as Card;
@use 'styles/mixins/breakpoints' as breakpoints;

.drawer {
    :global(.ant-drawer-content-wrapper) {
        width: 75% !important;
    }
}

.ClientsOverviewGrid {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: auto;

    .hoursLogged {
        height: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .clientCard {
        display: grid;
        grid-template-columns: 1fr 0.5fr;
        grid-gap: 0.5rem;

        .info {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .titleAlert {
                display: flex;
                gap: 0.5rem;
                align-items: center;
                color: var(--sienna400);
                cursor: pointer;
            }
        }

        .statusDisplay {
            height: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 9px;

            &.active {
                background-color: var(--seagreen600);
            }

            &.inactive {
                background-color: var(--slate400);
            }
        }
    }
}

.phaseForm {
    fieldset {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}

.clientsDashDrawer {
    :global(.MuiPaper-root) {
        @include breakpoints.set-max-width('small') {
            width: 100%;
        }
        @include breakpoints.set-max-width('medium') {
            width: 50%;
        }
    }
}
