@mixin baseCard {
    border: 1px solid var(--off-black);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    border: 1px solid rgba(255, 255, 255, 0.3);

    :global(.ant-card-body) {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        text-align: center;
        padding: 0;
        word-break: break-word;
        line-height: 2rem;
        letter-spacing: 1px;
    }

    @content;
}
