@mixin baseCard {
    border: 1px solid var(--off-black) !important;
    background: rgba(255, 255, 255, 0.2) !important;
    border-radius: 3px !important;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%) !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important;

    :global(.MuiCardContent-root) {
        letter-spacing: 1px;
        padding: 1rem;
    }

    @content;
}

@mixin darkCard {
    // border: 1px solid var(--off-white) !important;
    // background: var(--less-black);
    border-radius: 9px !important;
    border: none !important;
    // color: var(--off-white);

    :global(.MuiCardContent-root) {
        letter-spacing: 1px;
        padding: 1rem;
    }

    @content;
}
