@use 'styles/mixins/card' as Card;

.ClientsOverviewGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 1rem;

    .clientCard {
        @include Card.baseCard;

        .cardContent {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.5rem;

            & > * {
                width: inherit;
                text-align: left;
            }

            .cardHeader > h2 {
                display: flex;
                justify-content: space-between;
                align-items: center;

                span {
                    display: flex;
                    align-items: center;

                    svg {
                        margin-right: 0.5rem;
                    }
                }
            }

            .clientName {
                display: flex;
                justify-content: flex-start;
            }
            .cardBody {
            }

            .cardFooter {
                // text-align: left;

                svg {
                    font-size: 1.5rem;
                    cursor: pointer;
                }
            }
        }
    }
}
