$label-top: 0.9rem;
$label-left: 0.5rem;
$label-top-focus: -1.3rem;

.FormField {
    position: relative;

    label {
        position: absolute;
        display: block;
        top: $label-top-focus;
        left: $label-left;
        transition: 0.2s ease-in-out;
        color: var(--off-white);
        font-weight: 500;
        font-size: 1rem;

        &.errorLabel {
            color: var(--error-font) !important;
        }
    }
    input {
        position: relative;
        margin-bottom: 0.5rem;
        width: 100%;
        display: block;
        font-size: 1rem;
        color: var(--off-white);
        padding: 8px;
        border-radius: 6px;
        border: none;
        background: rgba(3, 3, 3, 0.1);
        transition: all 0.2s ease-in-out;

        &::placeholder {
            color: transparent;
        }
        &:placeholder-shown ~ label {
            cursor: text;
            top: $label-top;
            left: $label-left;
            color: var(--off-white);
        }
        &:focus {
            outline: none;
            box-shadow: 3px 3px 10px #333;
            background: rgba(3, 3, 3, 0.18);
            color: var(--off-white);
        }
        &:focus {
            ~ label {
                position: absolute;
                top: $label-top-focus;
                display: block;
                transition: 0.2s;
                left: $label-left;
                color: var(--off-white);
            }

            padding-bottom: 7px;
        }
    }
    .errorPopUp {
        position: relative;
        cursor: pointer;
        user-select: none;

        .popUpText {
            width: 100%;
            background-color: var(--error-background);
            color: var(--off-black);
            padding: 0.8rem;
            border-radius: 6px;
            position: absolute;
            z-index: 1;
            font-size: 14px;
            line-height: 18px;

            &::after {
                content: '';
                position: absolute;
                bottom: 100%;
                right: 50%;
                margin-left: 10px;
                border-width: -10px;
                border-style: solid;
                border-width: 6px;
                border-color: transparent transparent var(--error-background)
                    transparent;
            }
        }
    }
}
