.content {
    display: grid;
    place-items: center;
    height: calc(100vh - var(--nav-height) - var(--footer-height));
    .formContainer {
        height: fit-content;
        width: 38rem;
        background: rgba(3, 3, 3, 0.2);
        padding: 2rem;
        display: flex;
        flex-direction: column;
        .header {
            text-align: center;
            color: var(--off-white);
            padding-bottom: 1rem;
        }
        .errorPopUp {
            position: relative;

            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            .popUpText {
                width: 100%;
                background-color: var(--error-background);
                color: var(--off-black);
                padding: 0.8rem;
                border-radius: 6px;
                position: absolute;
                z-index: 1;
                font-size: 14px;
                line-height: 18px;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 100%;
                    right: 50%;
                    margin-left: 10px;
                    border-width: -10px;
                    border-style: solid;
                    border-width: 6px;
                    border-color: transparent transparent
                        var(--error-background) transparent;
                }
            }
        }

        .formInputs {
            display: flex;
            flex-direction: column;
            .nameInputs {
                display: flex;
                column-gap: 2rem;

                .inputField {
                    width: 100%;
                }
            }
            .inputField {
                position: relative;
                padding: 15px 0 0;
                margin-top: 10px;
                .formLabel {
                    position: absolute;
                    display: block;
                    top: 0;
                    transition: 0.2s ease-in-out;
                    color: var(--off-white);
                }
                input {
                    position: relative;
                    margin-bottom: 0.5rem;
                    width: 100%;
                    display: block;
                    font-size: 1rem;
                    color: var(--off-white);
                    padding: 8px;
                    border-radius: 6px;
                    border: none;
                    background: rgba(3, 3, 3, 0.1);
                    -webkit-transition: all 2s ease-in-out;
                    -moz-transition: all 2s ease-in-out;
                    -o-transition: all 2s ease-in-out;
                    transition: all 0.2s ease-in-out;

                    &::placeholder {
                        color: transparent;
                    }
                    &:placeholder-shown ~ .formLabel {
                        cursor: text;
                        top: 30px;
                        left: 5px;
                        color: var(--off-white);
                    }
                    &:focus {
                        outline: none;
                        box-shadow: 3px 3px 10px #333;
                        background: rgba(3, 3, 3, 0.18);
                        color: var(--off-white);
                    }
                    &:focus {
                        ~ .formLabel {
                            position: absolute;
                            top: 0;
                            display: block;
                            transition: 0.2s;
                            left: 5px;
                            color: var(--off-white);
                        }

                        padding-bottom: 7px;
                    }
                }
            }
            small {
                color: var(--off-white);
                margin-bottom: 1rem;
            }

            .button {
                cursor: pointer;
                text-decoration: none;
                position: relative;
                width: 100%;
                display: block;
                margin: 9px auto;
                font-size: 17px;
                color: var(--off-white);
                padding: 8px;
                border-radius: 6px;
                border: none;
                background: rgba(3, 3, 3, 0.1);
                -webkit-transition: all 2s ease-in-out;
                -moz-transition: all 2s ease-in-out;
                -o-transition: all 2s ease-in-out;
                transition: all 0.2s ease-in-out;
                &:hover {
                    background: rgba(3, 3, 3, 0.648);
                }
                &:disabled {
                    background: rgba(3, 3, 3, 0.1);
                    cursor: not-allowed;
                }
            }
            .login {
                text-align: center;
                color: var(--off-white);
                .signIn {
                    font-weight: 600;
                    font-size: 12px;
                    text-align: center;
                    color: var(--sienna500);
                    padding-bottom: 0.5rem 0;
                    text-decoration: underline;
                }
            }
        }
    }
}
