@import './theme.scss';
@import './reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// browser breakpoints
$mobile-max-width: 750px;
$desktop-min-width: 1000px;

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

main {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: var(--nav-height) 1fr var(--footer-height);
}

span,
p {
    letter-spacing: 1px;
    line-height: 30px;
}

.routeChange {
    background-color: #5d737e;
    background-image: linear-gradient(
        0deg,
        #5d737e 0%,
        #3066be 50%,
        #5d737e 100%
    );
}
.ant-drawer-mask {
    opacity: 0 !important;
}

.calendly-inline-widget {
    height: 100% !important;
}

.contentSize {
    max-width: var(--max-page-width);
    margin: auto;
    padding: 1rem;
}
